* {
  box-sizing: border-box;
}

button {
  font-size: 20px;
  border: 0.7px solid blue;
  font-family: 'Cute Font', cursive;
  margin: 0 30px;
}

.body {
  display: flex;
  height: 100vh;
  background-color: rgb(116, 196, 223);
}


.main {
  display: flex;
  justify-content: center;
}


.scoreBoard {
  /* position: absolute; */
  z-index: 2;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 10vh;
  background-color: rgb(15, 3, 3);
  border: 2px solid white;
  font-family: 'Cute Font', cursive;
  color: white;
  font-size: 200%;
  }


.grid-wrapper {
  display: flex;
  border: 5px black solid;
  width: 95vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
   
}

.body {
  height: 96vh;
  background-color: rgb(12, 98, 104);
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: cover;
  max-height: 650px;
  max-width: 1000px;
  background-image : url(../graphics/duke-nukem-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position-x: -20px;
  background-position-y: -10px; */
  background-color: black;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 5%;
  flex-direction: row;
}

.grid div.player {
  background-image: url(../graphics/duke-smoking-gun.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position-x: 0;
  background-position-y: 0px;
  
}

.grid div.bullet {
  background-image: url(../graphics/Candle_stylised_blue.svg.png);
  background-color:  transparent;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position-x: 0;
  background-position-y: 0;

}

.grid div.alien {
  background-image: url(../graphics/monster.png);
  border-radius: 50%;
  background-color:  rgba(255,255,255, 0.15);
  box-shadow: 0px 10px 20px rgba(255,255,255, 0.3);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */

}


.grid div.bomb {
  background-image: url(../graphics/granate.png); 
  background-size: 40px;
  background-position-x: 0;
  background-position-y: 0; 
  background-repeat: no-repeat;
  
}


.grid div.collision {
  /* background-image: url(../assets/sprite-sheet.png); */
  background-size: 200px;
  background-position-x: 0;
  background-position-y: 0;
  background-color: yellow;
}
